:root{
    --first: #2995ff;
    --stripone: #71b5f2;
    --striptwo: #ff1cc3;
    --stripthree: #4c6494;
}
/* Colors 
#fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#54ba67 → Medium Green
#a6a6a6 → Neutral Gray
#ffd1db → Pastel Pink
*/
